<section [ngSwitch]="diplayHTMLContext">

  <form #login="ngForm" *ngSwitchCase="0" (ngSubmit)="SubmitLogin(login)" class="form-group">
    <div  class="container py-5 h-200">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">Welcome to delivery service!</h2>
                <h3 class="fw-bold mb-2 text-uppercase">Please Login</h3>
                <p class="text-white-50 mb-5">Please enter your login and password!</p>
  
                <div class="form-outline form-white mb-4">
                  <input [(ngModel)]="email" name="email" required  type="email" id="typeEmailX" class="form-control form-control-lg" placeholder="something@domain.com"/>
                  <label class="form-label" for="typeEmailX">Email</label>
                </div>
  
                <div class="form-outline form-white mb-4">
                  <input required [(ngModel)]="password" name="password" type="password" id="typePasswordX" class="form-control form-control-lg" />
                  <label class="form-label" for="typePasswordX">Password</label>
                </div>
  
                <input type="submit" class="btn btn-outline-light btn-lg px-5" type="submit" value="Login"/>
  
                <div class="d-flex justify-content-center text-center mt-2 pt-2">
                  <a href="https://www.google.com"><input type="image" id="gbLoginBtnImg" cursor="hand" src="assets\Images\google_login.png" 
                    style="height: 40px; width: 50px; margin-top: 10px;"></a>  
                </div>

              <div class="form-control-md">
                <label name="errLbl" class="form-label" style="color: #CD5C5C">{{errTxt}}</label> 
              </div>
  
              </div>
  
              <div>
                <p class="mb-0">Don't have an account? <a style="cursor: pointer;" (click)="setSigninContext()" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form #register="ngForm" *ngSwitchCase="1" (ngSubmit)="SubmitRegister(register)">
    <div  class="container py-5 h-200">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                <p class="text-white-50 mb-5">Please enter registration data!</p>
                
                <div class="form-outline form-white mb-4">
                  <input required [(ngModel)]="username" name="username" type="text" id="typeUsernameX" class="form-control form-control-md" />
                  <label class="form-label" for="typeUsernameX">Username</label>
                </div>

                <div class="form-outline form-white mb-4">
                  <input required [(ngModel)]="email" name="email" type="email" id="typeEmailX" class="form-control form-control-md" placeholder="something@domain.com" />
                  <label class="form-label" for="typeEmailX">Email</label>
                </div>

                
                <div class="form-outline form-white mb-4">
                  <input required [(ngModel)]="password" name="password" type="password" id="typePasswordX" class="form-control form-control-md" />
                  <label class="form-label" for="typePasswordX">Password</label>
                </div>

                <div class="form-outline form-white mb-4">
                    <input required [(ngModel)]="re_password" name="re-password" type="password" id="typeConfirmPasswordX" class="form-control form-control-md" />
                    <label class="form-label" for="typeConfirmPasswordX">Confirm Password</label>
                </div>

                <div class="form-outline form-white mb-4">
                    <input required [(ngModel)]="name" name="name" type="text" id="typeNameX" class="form-control form-control-md" />
                    <label class="form-label" for="typeNameX">Name</label>
                </div>

                <div class="form-outline form-white mb-4">
                    <input required [(ngModel)]="surname" name="surname" type="text" id="typeSurnameX" class="form-control form-control-md" />
                    <label class="form-label" for="typeSurnameX">Surname</label>
                </div>

                <div class="form-outline form-white mb-4">
                    <input required [(ngModel)]="birthdate" name="datebirth" type="date" id="typeBirthdateX" class="form-control form-control-md" />
                    <label class="form-label" for="typeBirthdateX">Birthdate</label>
                </div>

                <div class="form-outline form-white mb-4">
                    <input required [(ngModel)]="address" name="address" type="text" id="typeAddressX" class="form-control form-control-md" />
                    <label class="form-label" for="typeAddressX">Address</label>
                </div>

                <div class="form-outline form-white mb-4">
                    <select [(ngModel)]="type" name="user-type" id="selectUsrTypeX" class="form-control form-control-md">
                        <option value="admin">Administrator</option>
                        <option value="delivery">Deliveryman</option>
                        <option value="user">Consumer</option>
                    </select>
                    <label class="form-label" for="selectUsrTypeX">Type</label>
                </div>

                <div class="form-outline form-white mb-4" style="width: 100%; border-width: 2px; border-style: solid; border-color: white;">

                  <table style="margin-left: auto; margin-right: auto;">
                    <tr>
                      <td><img src={{img_url}} style="height: 70px; width: 70px;"></td> 
                    </tr>
                    <tr>                     
                      <td><input name="image" type="file" accept="image/*" id="selectImageX" (change)="onImageSelected($event)"/></td>
                    </tr>
                  </table>
                </div>
  
                <input type="submit" class="btn btn-outline-light btn-lg px-5" type="submit" value="Register"/>      
              </div>

              <div class="form-control-md">
                <label name="errLbl" class="form-label" style="color: #CD5C5C">{{errTxt}}</label> 
              </div>
  
              <div>
                <p class="mb-0">Back to <a style="cursor: pointer;" (click)="setLoginContext()"  class="text-white-50 fw-bold">Login</a> page
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  </section>