<table>
    <tr>
      <td id="#productsTable" style="width: 70%;">
        <mat-table [dataSource]="dataSourceProducts" class="mat-elevation-z8 demo-table" style="background-color: #4ECCA3;">          
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let elementProduct" style="font-size: x-small;"> {{elementProduct.name}} </td>
          </ng-container>
        
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price</th>
            <td mat-cell *matCellDef="let elementProduct" style="font-size: x-small;"> {{elementProduct.price}} </td>
          </ng-container>
      
          <ng-container matColumnDef="ingredients">
              <th mat-header-cell *matHeaderCellDef> Ingredients </th>
              <td mat-cell *matCellDef="let elementProduct" style="font-size: x-small;"> {{elementProduct.ingredients}} </td>
            </ng-container>
      
           
          <tr mat-header-row *matHeaderRowDef="displayedColumnsProducts"></tr>
          <tr  (click) = "tableProductsRowClick(rowProduct)" mat-row *matRowDef="let rowProduct; columns: displayedColumnsProducts;"></tr>
        </mat-table>
        <mat-paginator #productPaginator="matPaginator" [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons pag></mat-paginator>
      </td>

      <td *ngIf="RenderNewProduct==true" style="width: 30%;">
        <table style="background-color: #a6b2ebff; vertical-align: top;">
          <th class="mat-header-cell">New Product </th>
          <tr>
            <td>
              <div class="form-outline form-white mb-4">
                <label class="form-label-lg" for="newProdName">Name:</label>
                <input [(ngModel)]="name" style="width: 60%;" name="name" required  type="text" id="newProdName" class="form-control form-control-sm" placeholder="Product Name">
              </div>                  
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-outline form-white mb-4">
                <label class="form-label-lg" for="newProdPrice">Price:</label>
                <input [(ngModel)]="price" style="width: 60%;" name="price" required  type="text" id="newProdPrice" class="form-control form-control-sm" placeholder="Product Price"/>
              </div>                  
            </td>
          </tr>

          <tr>
            <td>
                <table>
                  <tr>
                    <td>
                      <div class="form-outline form-white mb-4">
                        <label class="form-label-lg" for="ingredients">Ingredients</label>
                        <select [(ngModel)]="selectedIngredient" style="width: 100%;" class="form-select" name="ingredients">
                          <option *ngFor="let n of ingredients">{{n}}</option>
                        </select>
                      </div>
                    </td>
                    <td style="vertical-align:middle;">
                      <button  (click)="addIngredient()" class="btn btn-primary" style="font-size: xx-small;"> Add </button> 
                      <button  (click)="productItemRemove()" class="btn btn-danger"  style="font-size: xx-small;">Remove </button>
                      <button  (click)="saveProduct()" class="btn btn-success" style="font-size: xx-small;"> Save </button>
                    </td>
                  </tr>
                </table>           
            </td>
          </tr>

          <tr>
            <td>
              <p name="errLbl" style="color: #CD5C5C;">{{errTxt}}</p>
            </td>
          </tr>

          <tr>
            <mat-table id="#productItemsTable" [dataSource]="dataSourceSelectedIngredients" class="mat-elevation-z8 demo-table" style="background-color: #4ECCA3;">                     
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let elementSelectedIngredient" style="font-size: x-small;"> {{elementSelectedIngredient.name}} </td>
              </ng-container>                     
              <tr mat-header-row *matHeaderRowDef="displayedColumnsSeledIngredients"></tr>
              <tr (click) ="tableProductItemsRowClick(rowIngredient)" mat-row *matRowDef="let rowIngredient; columns: displayedColumnsSeledIngredients;"></tr>
            </mat-table>
          </tr>

        </table>
      </td>

      <td *ngIf="!RenderNewProduct" style="background-color: #a6b2ebff;;">

        <div class="form-outline form-white mb-4" style="width: 70%;">
          <label class="form-label" for="typeAddressX" style="font-weight:bold">Address<small style="font-weight:lighter;">(required)</small></label>
          <input required [(ngModel)]="address" name="address" type="text" id="typeAddressX" class="form-control form-control-md" required=""/>
        </div>
       
        <div class="form-outline form-white mb-4" style="width: 70%;">
          <label class="form-label" for="typeCommentX" style="font-weight:bold">Comment<small style="font-weight:lighter;">(optional)</small></label>
          <textarea [(ngModel)]="comment" name="comment" id="typeCommentX" class="form-control form-control-md" style="height: 80px;resize: none; font-size:x-small;"></textarea>
        </div>
        <hr>
        <button [disabled]="!submitAvailable" (click)="tryOrderSubmit()" class="btn btn-success" style="font-size: larger; width: 30%;">Submit</button>
        <div style="float: left;width: 40%">
          <button (click)="tryAddToCart()" class="btn btn-primary" style="float: right; font-size:larger; width: 75%;">Add</button>
          <input type="number" id="units" style="width: 25%; height: 35px; float: left;" min="1" max="9" [(ngModel)]="unitsNum">
        </div>
        <button (click)="tryRemoveFromCart()" class="btn btn-danger"  style="font-size: larger; float: right;width: 30%">Remove</button>
        <div style="width: 100%; background:#a6b2ebff;">
          <label for="totalOrderPrice"><strong><u>TOTAL PRICE: </u></strong></label>
          <input  style="float: right; text-align: right;" id="totalOrderPrice" type="text" [(ngModel)]="totalOrderPrice" readonly class="form-control form-control-md">
        </div>

        <div class="form-control-md">
          <label name="errLbl" class="form-label" style="color: #CD5C5C">{{errTxt}}</label> 
        </div>

        <div style="width: 100%; background:#a6b2ebff;">
        <p style="font-size:small"><u><strong>Note:</strong></u><i>Delivery fee costs: <u>{{deliveryFee}}</u></i></p>
        </div>
        <hr>
        <mat-table id="#orderItemsTable" [dataSource]="dataSourceOrderItems" class="mat-elevation-z8" style="background-color: #a6b2ebff;">                  
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let elementOrderItem"> {{elementOrderItem.name}} </td>
          </ng-container>
        
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let elementOrderItem"> {{elementOrderItem.quantity}} </td>
          </ng-container>
        
          <ng-container matColumnDef="unit price">
            <th mat-header-cell *matHeaderCellDef> Unit Price </th>
            <td mat-cell *matCellDef="let elementOrderItem"> {{elementOrderItem.unitPrice}} </td>
          </ng-container>
        
          <ng-container matColumnDef="total item price">
            <th mat-header-cell *matHeaderCellDef> Total Item Price </th>
            <td mat-cell *matCellDef="let elementOrderItem"> {{elementOrderItem.totalItemPrice}} </td>
          </ng-container>
            
          <tr mat-header-row *matHeaderRowDef="displayedColumnsOrderItems"></tr>
          <tr  (click) = "tableItemsRowClick(rowItem)" mat-row *matRowDef="let rowItem; columns: displayedColumnsOrderItems;"></tr>
        </mat-table>
      </td>  
    </tr>
  </table>
  
  