
<div class="vh-auto gradient-custom" style="width: 100%; height: 300%;" >
    <div name="SPContainer" [ngSwitch]="SPVisualContext">
        <div *ngSwitchCase="'Login'"> <!--Loading environment-->
            <app-loggin (SPVisualContext_changedEvent)  ='OnSPVisualContext_changed($event)'></app-loggin>
        </div>

        <div *ngSwitchCase="'Administrator'"> <!--Admin environment-->
            <app-menu (SPVisualContext_changedEvent)  ='OnSPVisualContext_changed($event)' (SPVisualState_changedEvent)  ='OnSPVisualState_changed($event)' [roleContext] = "'Administrator'"></app-menu>
            <div class="row" [ngSwitch]="SPVisualState">
                
                <div *ngSwitchCase="'Home'" style="align-items: center;" >
                    <h1>Welcome to delivery service!</h1>
                    <img style="width: max-content; height: max-content; padding-top: 8%;" src="assets\Images\home_page_img.png">
                </div>

                <div *ngSwitchCase="'Profile'">
                    <app-profile (SPVisualContext_changedEvent)  ='OnSPVisualContext_changed($event)'></app-profile>
                </div>

                <div *ngSwitchCase="'Users'">
                    <app-users></app-users>
                </div>

                <div *ngSwitchCase="'Orders'">
                   <app-orders [ordersContext] = "'all'"></app-orders>
                </div>

                <div *ngSwitchCase="'Products'">
                    <app-products [RenderNewProduct]="true"></app-products>
                 </div>

            </div>
        </div>

        <div *ngSwitchCase="'Deliveryman'"> <!--Deliveryman environment-->
            <app-menu (SPVisualContext_changedEvent)  ='OnSPVisualContext_changed($event)' (SPVisualState_changedEvent)  ='OnSPVisualState_changed($event)' [roleContext] = "'Deliveryman'"
                       [expectedDeliveryMoment] = "ExpectedDeliveryTime"></app-menu>
            <div class="row" [ngSwitch]="SPVisualState">
                
                <div *ngSwitchCase="'Home'" style="align-items: center;" >
                    <h1>Welcome to delivery service!</h1>
                    <img style="width: max-content; height: max-content; padding-top: 8%;" src="assets\Images\home_page_img.png">
                </div>

                <div *ngSwitchCase="'Profile'">
                    <app-profile (SPVisualContext_changedEvent)  ='OnSPVisualContext_changed($event)'></app-profile>
                </div>
                
                <div *ngSwitchCase="'OrdersAvailable'">
                    <app-orders [ordersContext] = "'available'" (ExpectedDeliveryTime_changedEvent) = 'OnExpectedDeliveryTime_changed($event)'></app-orders>
                 </div>
 
                <div *ngSwitchCase="'OrdersCompleted'">
                    <app-orders [ordersContext] = "'completed'"></app-orders>
                </div>

                <div *ngSwitchCase="'OrdersCurrent'">
                    <app-orders [ordersContext] = "'current'"></app-orders>
                </div>

            </div>
        </div>

        <div *ngSwitchCase="'Consumer'"> <!--Consumer environment-->
            <app-menu (SPVisualContext_changedEvent)  ='OnSPVisualContext_changed($event)' (SPVisualState_changedEvent)  ='OnSPVisualState_changed($event)' [roleContext] = "'Consumer'"></app-menu>
            <div class="row" [ngSwitch]="SPVisualState">
                
                <div *ngSwitchCase="'Home'" style="align-items: center;" >
                    <h1>Welcome to delivery service!</h1>
                    <img style="width: max-content; height: max-content; padding-top: 8%;" src="assets\Images\home_page_img.png">
                </div>

                <div *ngSwitchCase="'Profile'">
                    <app-profile (SPVisualContext_changedEvent)  ='OnSPVisualContext_changed($event)'></app-profile>
                </div>
 
                <div *ngSwitchCase="'History'">
                    <app-orders [ordersContext] = "'history'"></app-orders>
                </div>
              
                <div *ngSwitchCase="'New-Current'">  
                    <app-orders (OrdersComponentHidden_changedEvent)  ='OnOrdersComponentHidden_changed($event)' [ordersContext] = "'new-current'"></app-orders>
                    <app-products *ngIf="OrdersComponentHidden" [RenderNewProduct]="false"></app-products>            
                </div>

            </div>
        </div>

    </div>

    <router-outlet></router-outlet>
</div>